@font-face {
    font-family: 'Open Sans Light';
    src: url(fonts/Open_Sans_Light/OpenSans-Light.woff);
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    z-index: -1;
    background: url('img/hotelzon_jumbotron.jpg') center bottom;
    height: 688px;
}

button {
    border-radius: 0;
    box-shadow: none;
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

ul {
    list-style: none;
    text-shadow: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #fff;
}

input[type="text"] {
    padding: 0 15.5px;
    border: 1px solid rgba(0,0,0,0.1);
}

:-ms-input-placeholder {  
    font-family: 'Open Sans', sans-serif;
    opacity: 0.35;
    font-size: 0.875rem;
}

::webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.35;
    font-size: 0.875rem;

}

::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.3;
    font-size: 0.875rem;

}

h1 {
    font-size: 250%;
    color: #fff;
    line-height: 1.4;
    font-weight: 300;
}

h2 {
    font-weight: 100;
    color: #0075b0;
    font-size: 225%;
}

h3 {
    font-weight: 100;
    color: #0075b0;
    font-size: 28px;
}

footer {
    margin-top: 66px;
    width: 100%;
    color: #fff;
}

.container-header {
    max-width: 1236px;
    margin: 0 auto;
}

.left-side {
    float: left;
    margin-top: 25px;
    padding-left: 48px;
}

.left-side img {
    width: 197px;
}

.right-side {
    position: relative;
    float: right;
    margin-top: 15px;
    padding-right: 56px;
    font-size: 100%;
}

.right-side ul li {
    display: inline;
    color: #fff;
    padding-right: 2px;
}

.lang-box {
    padding: 10px 30px 10px 0;
    margin-top: 10px;
    max-height: 300px;
    width: 150px;
    background-color: white;
    position: absolute;
    left: 150px;
    display: none;
    border: 1px solid lightblue;
}

.lang-box:target {
    display: block;
    z-index: 1;
}

.lang-box ul li {
    display: block;
}

.lang-box ul li a {
    color: blue;
}

.lang-box ul li a:hover {
    color: #000;
}

.search-box {
    padding: 10px 30px 10px 0;
    margin-top: 10px;
    max-height: 40px;
    width: 250px;
    background-color: white;
    position: relative;
    left: 80px;
    display: none;
    border: 1px solid darkblue;
}

.search-box:target {
    display: inline-block;
    z-index: 1;
}

.search-content {
    margin-left: 10%;
    height: 40px;
}

.search-content input[type="text"] {
    margin: 0;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: solid 1px rgba(0,0,0,0.1);
    padding: 10px;
}

.search-content input[type="text"]:focus {
    outline: none;
}

hr.jumbotron-hr {
    width: 68.5%;
    margin: 80px 0 0 48px;
    position: absolute;
    border: 0;
    height: 1px;
    background: #fff;
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    opacity: 0.2;
}

.lower-header {
    width: 70%;
    position: absolute;
    margin-top: 5%;
}

.left-link {
    float: left;
    margin: 20px 0 0 48px;
    font-size: 260%;
    font-weight: 300;
    color: #fff;
}

.lower-header .left-link span {
    color: #CDCED0;
}

.right-login {
    float: right;
    margin-top: 1%;
    margin-right: -24px;
}

.right-login ul {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

p.forgot-password {
    margin-top: -5px;
    font-size: 0.75rem;
    float: right;
}

.right-login ul li input[type="text"] {
    line-height: 40px;
    width: 200px;
}

button.login {
    background: #78BE20;
    height: 42px;
    width: 93px;
    border: 0;
    font-weight: 600;
}

button.login:hover {
    background-color: #6AA81C;
    border-color: #6AA81C;
}

.heading {
    text-align: center;
    padding: 10px 0 20px 72px;
}

.main-heading {
    text-align: center;
    font-size: 2.375rem;
    line-height: 1.263;
    margin: 0 auto;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    margin-top: 157px;
    width: 560px;
}

button.search-button {
    margin: 24px 8px 0 0;
    background: #0075B0;
    padding: 0.75%;
    width: 130px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
}

button.search-button:hover {
    background-color: #1655E7;
}

.book-hotel {
    position: absolute;
    margin-top: 566px;
    height: 122px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-hotel-container {
    padding: 15px 44px 0 0;
}

p.cancel {
    position: relative;
    font-size: 0.75rem;
    float: right;
    margin-top: -6px;
    margin-left: 5px;
}

.book-hotel ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.book-hotel ul li {
    border-right: 1px solid #000;
}

.book-hotel ul li:last-child {
    border-right: 0;
}

.book-hotel ul li input[type="text"] {
    line-height: 40px;
    width: 204px;
}

.book-hotel ul li select {
    height: 42px;
    width: 236px;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    padding-left: 1em;
}

.book-hotel .datepicker {
    cursor: default;
}

button.book-button {
    height: 42px;
    background: #7ACC29;
    width: 189px;
    font-size: 16px;
}

button.book-button:hover {
    background-color: #6BB224;
}

hr.main-hr {
    width: 68.5%;
    margin-top: 47px;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.15;
}

.main, .subscribe {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 182px;
}

.upper-main, .lower-main {
    width: 68.5%;
    display: flex;
    margin: 0 auto;
}

.upper-main {
    justify-content: center;
    align-items: center;
}

.container-features, .container-news, .container-signup {
    width: 33%;
    height: 192px;
    position: relative;
    font-weight: 400;
}

.container-features {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.65) 100%), url('img/man_hotelroom.jpg');
    background-size: cover;
}

.container-news {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.65) 100%), url('img/card_laptop.jpg');
    background-size: cover;
    margin: 0 2%;
}

.container-signup {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.65) 100%), url('img/about_travelport.jpg');
    background-size: cover;
}

.thumbnail {
    position: absolute;
    padding: 0 5%;
    width: 60%;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.thumbnail p {
    line-height: 1.2;
    font-size: 1.125rem;
    padding-left: 9.6px;
    border-left: 3px solid #0075b0;
    width: 100%;
    padding-bottom: 5px;
}

.lower-main {
    margin-top: 66px;
    justify-content: left;
    align-items: left;
}

.lower-main p {
    font-size: 1.05em;
    color:  #5A5A5A;
}

.features, .news {
    width: 31.5%;
    height: 206px;
    position: relative;
}

.features h2+p {
    font-size: 16px;
    margin-top: -6px;
    line-height: 1.5;
}

.news {
    margin-left: 30px;
}

.news ul {
    margin-top: -6%;
}

.news ul li {
    margin-bottom: -20px;
}

.news ul p:last-child {
    font-size: 0.95em;
}

.news ul li a {
    color: #5A5A5A;

}

.news ul li a:hover {
    color: #008AB8;
}

.features a {
    color: #008AB8;
    font-size: 1.1em;
}

.learn-more {
    padding-top: 7px;
}

.lower-main-dates {
    font-size: 12px;
}

.subscribe {
    z-index: -1;
    background-size: 80%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(155,155,155,0) 5%, rgba(255,255,255,1) 100%), url('img/woman_laptop.jpg');
    background-position: top right;
    height: 672px;
}

.container-subscribe, .more-news {
    width: 70%;
    margin: auto;
    display: flex;
    position: relative;
}

.news-heading {
    position: absolute;
    margin-top: 135px;
}

.news-heading h1 {
    margin-top: 39px;
    margin-left: 12px;
    font-size: 2.375rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.news-heading p {
    font-family: 'Open Sans Light', sans-serif;
    width: 70%;
    color: #fff;
    font-size: 1.75rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 1.7;
    margin-top: -23px;
    margin-left: 12px;
}

.news-heading ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-left: -27px;
    margin-top: -9px;
}

.news-heading ul li input[type="text"] {
    line-height: 42px;
    width: 348px;
    border: none;
}

.submit {
    border: none;
    width: 379px;
    height: 42px;
    background: #78be20;
    cursor: pointer;
    font-size: 1.0125rem;
}

.submit:hover {
    background-color: #6AA81C;
}

.more-news {
    margin-top: -74px;
}

.more-news .container-more-news {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 5px 5px 0 0;
}

.more-news .news-piece {
    width: 267px;
    height: 440px;
    background: #0075B0 scroll 0% 0%;
    color: #fff;
    position: relative;
    margin: -20px 12px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    position: relative;
}

.news-piece-empty {
    display: none;
}

.more-news .news-piece img {
    width: 100%;
}

.news-details {
    width: 85%;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 23px;
    line-height: 1.3;
}

.small-date {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    opacity: 0.5;
    padding: 15px 20px 10px 20px;
    border-top: 1px solid rgba(255,255,255,.25);
}

.container-upper-footer {
    height: 407px;
    width: 70%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
}

.upper-footer {
    background: #0075B0 scroll 0% 0%;
}

.travelport-hotelzon, .for-hotels, .for-companies, .contact-info {
    width: 20%;
    margin: 46px 0;
}

.travelport-hotelzon {
    margin-left: 12px;
}

.for-hotels {
    margin-left: 58px;
}

.for-companies {
    margin-left: 10px;
}

.contact-info {
    margin-left: 9px;
}

.contact-info ul li {
    font-size: 16px;
    line-height: 1.575;
}

.upper-footer ul {
    padding-left: 0;
    margin-top: -4px;
    font-size: 0.875rem;
    line-height: 1.85657;
}

.upper-footer ul li {
    display: block;
}

.upper-footer h4 {
    font-weight: bold;
    font-size: 18px;
}

.lower-footer {
    height: 112px;
    width: 68.5%;
    margin: 0 auto;
}

.media {
    margin-top: 20px;
}

.media img {
    margin-right: 7px;
}

.terms, .policy, .copyright {
    color: #7a858b;
}

.terms a, .policy a {
    color: #565e63;
}

.right-side-btm, .left-side-btm {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.left-side-btm {
    margin-top: 2px;
    float: left;
}

.right-side-btm {
    font-size: 0.875rem;
    margin-top: -1px;
}